/* Reset default styles */
body, h1, h2, h3, h4, h5, h6, p, img {
    margin: 0;
    padding: 0;
  }
  
  body {
/*     background-image: linear-gradient(to right, rgb(6, 6, 39), rgb(51, 10, 51), rgb(51, 7, 51), black );
    font-family: Arial, sans-serif; */
    background-image: url(/img/trytry.jpg);
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    /* background-color: hsl(0, 57%, 3%); */
    padding: 20px;
  }
  
  h1 {
    color: #fff;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 800px;
    margin: 40px auto;
  }
  
  .grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .grid-item img {
    max-width: 100%;
  }
  
  .grid-item a {
    text-decoration: none;
    color: #333;
  }
